# Ignore node_modules in both backend and frontend
/backend/node_modules
/frontend/node_modules

# Ignore environment files in both backend and frontend
/backend/.env
/frontend/.env

# Ignore build directories in frontend
/frontend/build

# Ignore other common files
.DS_Store
*.log
